<!DOCTYPE html>
<html>
	<head>
		<title>RubyGate Blog | About Us</title>
	</head>
	<body>
		<h1>About Us</h1>
		<p>
			Its an microbloginge/commerce framework  form more info visit to <a href="http:///www.rubygate.com/">RubyGate</a>
		</p>
	</body>
</html>
