<!DOCTYPE html>
<html>
	<head>
		<title>RubyGate Blog | Home</title>
	</head>
	<body>
		<h1>RubyGate Blog</h1>
		<p>
			This is the home page for the <a href="http:///www.rubygate.com/blog/">RubyGate Blog</a>
		</p>
	</body>
</html>