<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | About</title>
	</head>
	<body>
		<h1>Pages#about</h1>
		<p>
			Find me in app/views/pages/about.html.erb
		</p>
	</body>
</html>
